In [1]:
# import urllib3
import pandas as pd
import tldextract
import datetime;
import csv
import requests
import io
import time
import pandas as pd
import os
from os import listdir
import getpass
import sys 
from os.path import isfile, join,getmtime
import json
import urllib
import urllib.parse
import urllib.request
from tldextract import extract


import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import psycopg2 
import io
import sql  # the patched version (file is named sql.py)

In [2]:
###Read CSV File
networkdb1 = pd.read_csv(r"C:\Users\imsanjoykb\Downloads\networksdb.io-ip_to_country_ipv6.csv")
networkdb1

    countrycode;"country";"start_ip";"end_ip"
0             FR;"France";"200::";"200:8ff::"
1         FR;"France";"200:900::";"200:eff::"
2        FR;"France";"200:f00::";"200:10ff::"
3       FR;"France";"200:1100::";"200:11ff::"
4       FR;"France";"200:1200::";"200:1bff::"
..                                        ...
994     FR;"France";"20e:7200::";"20e:78ff::"
995     FR;"France";"20e:7900::";"20e:79ff::"
996     FR;"France";"20e:7a00::";"20e:7bff::"
997     FR;"France";"20e:7c00::";"20e:7cff::"
998     FR;"France";"20e:7d00::";"20e:7dff::"

[999 rows x 1 columns]

In [ ]:
networkdb3

In [ ]:
networkdb3

In [ ]:
networkdb3

In [ ]:
networkdb3

In [ ]:
networkdb3